* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
    height: max-content;
}
body {
    background-color: hsl(0, 0%, 95%);
}
.card-1 {
    background: hsl(31, 77%, 52%);
    width: 250px;
    height: 400px;
    margin: 0px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding: 20px;
}
.card-2 {
    background: hsl(184, 100%, 22%);
    width: 250px;
    height: 400px;
    margin: 0px;
    padding: 20px;
}
.card-3 {
    background: hsl(179, 100%, 13%);
    width: 280px;
    height: 400px;
    margin: 0px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    padding: 20px;
}
.button-1 {
    background-color: white;
    color: hsl(31, 77%, 52%);
    padding: 15px 20px;
    border-radius: 30px 30px 30px 30px;
    border: 0px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
}
.button-2 {
    background-color: white;
    color: hsl(184, 100%, 22%);
    padding: 15px 20px;
    border-radius: 30px 30px 30px 30px;
    border: 0px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
}
.button-3 {
    background-color: white;
    color: hsl(179, 100%, 13%);
    padding: 15px 20px;
    border-radius: 30px 30px 30px 30px;
    border: 0px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
}
.card-1 p {
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 55px;
    letter-spacing: 1px;
    text-align: left;
}
.card-2 p {
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 70px;
    letter-spacing: 1px;
    text-align: left;
}
.card-3 p {
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 70px;
    letter-spacing: 1px;
    text-align: left;
}
.card-1 h2 {
    padding: 10px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
.card-2 h2 {
    padding: 10px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
.card-3 h2 {
    padding: 10px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
footer {
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 15px;
    font-size: 22px;
}
